.todo{
    position: relative;
    margin-top: 80px;
    z-index: 1;    
}
.todo-list{
   margin: auto;
   padding: 20px;
   background-color: whitesmoke;
   border-radius: 10px;
   height: fit-content;
}
.todo-head{
    margin: 0px auto 5px auto;
}
.todo-head h1{
    margin: 0;
}
@media (max-width: 576px){
    .todo-head h1 {
        font-size: 24px;
    }

    .todo-head .btn {
        padding: 3px 10px;
    }
}