.task{
    width: 90%;
}
.label{
    font-size: large;
}
@media (max-width: 576px){
    .label{
        font-size: medium;
    }
    .star{
        width: 15px;
    }
    .gabage{
        width: 15px
    }
}