.header{
    padding: 5px 0px 5px 0px;
    z-index: 2;
}

.textTime-continer{
    margin: 20px
}

.myday-container{
    margin: 20px
}

@media (max-width: 576px){

    .textTime{
        font-size: 20px; 
    }

    .myday{
        font-size: 20px; 
    }
}


